/*PARALLAX ELEMENTS*/
.yawa {
background-image: url('../Images/dev.jpg');
/* Center and scale the image nicely */
/* Full height */
height: 100%;
position: relative;
/* Create the parallax scrolling effect */
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.parallax{
background-image:url('../Images/aboutbg.png');
height: 100%;
position: relative;
 /* Create the parallax scrolling effect */
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.portfolio{
background-image:url('../Images/portfoliobg.png');
height: 100%;
position: relative;
 /* Create the parallax scrolling effect */
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.resume{
background-image:url('../Images/resumebg.png');
height: 100%;
position: relative;
 /* Create the parallax scrolling effect */
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}


/*THIS IS THE LOGO NAME IN THE CENTER*/
.name {
height: 27%;
width: 100%;
background-image: url('../Images/name.png');
background-position: center;
background-repeat: no-repeat;
position: absolute;
top: 40%;
margin-top: -50px;
}

/*THE ANOURMOUS QOUTE*/
.back-quote {
  width: 960px;
  height: 600px;
  background-image: url('../Images/more.png');
  background-repeat: no-repeat;
  background-position: top left;
  position: absolute;
  left: 38%;
  margin-left: -480px; }

/*BORDER LINE THAT COVERS THE CONTACT IN NAVIGATION BAR*/
ta {
border: 2px solid white;
}

body, html {
    height: 100%;
}

/* TO DISABLE THE PARALLAX WHEN THE USER IS USING A SMALL SCREEN SUCH AS PHONES AND TABLETS */
@media only screen and (max-device-width:  1080px) {
    .body {
        background-attachment: scroll;
    }
}

/*THIS IS WHERE THE NAVIGATION DESIGN CAME FROM*/
ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
position: fixed;
text-align:right;
width: 98%;
z-index: 1;
opacity: 0.20;
-webkit-animation: mymove2 2s;  /* Safari 4.0 - 8.0 */
animation: mymove2 2s;
animation-fill-mode: forwards;
}

/*THE LANDING TRANSITION IN THE NAVIGATION BAR*/
@-webkit-keyframes mymove2 {
from {top: -10px;}
to {top: 36px;  opacity: 1;}
}

@keyframes mymove2 {
from {top: -10px;}
to {top: 36px; opacity: 1;}
}
/*TO PUT THE NAVIGATION IN LINE*/
li {
display:inline;
transition: width 2s;
}
/*FOR NAVIGATION BAR DESIGN ALSO*/
li a {
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
display:inline-block;
padding:15px;
transition: background-color 1s;
-webkit-transition: background-color 1s; /* Safari 3.1 to 6.0 */
}

/*WHEN THE MOUSE IS HOVERED OVER THE NAVIGATION BAR, IT WILL CHANGE COLORS*/
li a:hover {
background-color: #111;
}
